$blue-color: #134880;
$gray-color: #DDDDDD;
$background-color: #FFFFFF;

@font-face {
	font-family: SourceSansPro;
	src: url('../assets/SourceSansPro-Regular.woff');
}

@font-face {
	font-family: HelveticaNeue;
	src: url('../assets/HelveticaNeueBd.woff');
}

* {
	padding: 0px;
	margin: 0px;
}

h1 {
	color: $blue-color;
	line-height: 32.5px;
	letter-spacing: -0.2px;
	margin-bottom: 20px;
	font-size:32px;
}

body {
	width: 100vw;
	height: 100vh;
	background: $background-color;
    overflow: hidden;
}

button {
	height: 60px;
	width: 60px;
	border: 1px solid $gray-color;
	background-color: $background-color;
	border-radius: 5px;
	background-position: center;
	background-repeat: no-repeat;
	&:hover {
		border: 1px solid $blue-color;
		cursor: pointer;
	}
}

#leftBtn {
	background-image: url('../assets/arrow-gray-left.png');
	&:hover {
		background-image: url('../assets/arrow-blue-left.png');
	}
}

#rightBtn {
	background-image: url('../assets/arrow-gray-right.png');
	&:hover {
		background-image: url('../assets/arrow-blue-right.png');
	}
}
