@font-face {
	font-family: SourceSansPro;
	src: url('../assets/SourceSansPro-Regular.woff');
}

@font-face {
	font-family: HelveticaNeue;
	src: url('../assets/HelveticaNeueBd.woff');
}

* {
	padding: 0px;
	margin: 0px;
	--blue-color: #134880;
	--gray-color: #DDDDDD;
	--background-color: #FFFFFF;
	--text-color: #484A4C;
}

h1 {
	color: var(--blue-color);
	line-height: 37.5px;
	letter-spacing: -0.2px;
	margin-bottom: 20px;
	font-size:32px;
}

body {
	width: 100vw;
	height: 100vh;
	background: var(--background-color);
    overflow: hidden;
}

button {
	height: 60px;
	width: 60px;
	border: 1px solid var(--gray-color);
	background-color: var(--background-color);
	border-radius: 5px;
	background-position: center;
	background-repeat: no-repeat;
	&:hover {
		border: 1px solid var(--blue-color);
		cursor: pointer;
	}
}
